.body_background {
    background-image: url("https://images.unsplash.com/photo-1610926950521-ab7e8b45f377?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTM3NjUwNzc&ixlib=rb-1.2.1&q=80");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
    text-align: center;
  }
  .paint
  {
      color: yellow;
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color:greenyellow;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 20px;
  }

  input
  {
    margin-right: 20px;
  }
  